PORT=3000
SUPABASE_URL=your_project_url_here
SUPABASE_SERVICE_ROLE_KEY=paste_service_role_key_here
EMAILJS_SERVICE_ID=paste_emailjs_service_id_here
EMAILJS_TEMPLATE_ID=paste_emailjs_template_id_here
EMAILJS_PUBLIC_KEY=paste_public_key_here
EMAILJS_PRIVATE_KEY=paste_private_key_here